@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-gray--: #ececec;
  --gray--: #385a64;
  --dark-gray--: #1a2e35;
  --orange--: #ff735c;
  --green--: #15803d;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray--);
  height: 100%;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}
main {
  padding-bottom: 40px;
}
.banner-img {
  width: 100%;
  height: 60vh;
}
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 40px;
}
h1 {
  font-size: 34px;
  color: var(--dark-gray--);
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}
#btn-start {
  width: 200px;
  background-color: var(--orange--);
  color: white;
  font-size: 24px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
#btn-start:hover {
  background-color: var(--gray--);
}

footer {
  width: 100%;
  height: 40px;
  background-color: var(--dark-gray--);
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* questions page */
.container {
  width: 90vw;
  position: relative;
}
.box-modal {
  position: relative;
}
h3 {
  margin-top: 30px;
}
.question-container {
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin: 20px 0;
}
.div-option {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: white;
  margin: 20px 0;
  cursor: pointer;
}

.btn-letter {
  border: none;
  width: 50px;
  height: 100%;
  border-radius: 5px;
  background-color: var(--orange--);
  color: white;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btn-submit {
  width: 100%;
  background-color: var(--gray--);
  color: white;
  font-size: 24px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: var(--orange--);
}
.active-answer {
  background-color: var(--orange--);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: white;
}
.correct-answer {
  background-color: var(--green--);
  color: white;
}
.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: var(--gray--);
  color: white;
  position: absolute;
  border-radius: 5px;
  top: 0;
}
.modal p:first-child {
  font-size: 30px;
}
.score {
  font-size: 80px;
  font-weight: bold;
  padding: 10px;
}
.modal button {
  width: 300px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--orange--);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--dark-gray--);
}

.hidden-modal {
  visibility: hidden;
}
